.reg-form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 90vh;
    width:400px;
    margin: auto;
    background-color: #e6f1fb;
  padding: 3rem 2.5rem;
  border-radius: 1rem;
  
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
input,[type="radio"]{
    border: 1px solid rgb(26, 129, 231);
    border-radius: 4px;
    height: 1.2rem;
    padding: 0.2rem;
}
.label-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    font-size: 0.9em;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #1a81e7;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #0b6cd4;
  outline: none;
  box-shadow: 0 0 4px rgba(26, 129, 231, 0.4);
}
label{
    margin-right: 5px;
    text-wrap: wrap;
}
button{
    height: 2rem;
    background-color: rgb(26, 129, 231); 
    color: white;
    border: none;
    border-radius: 5px;
    
}
.errors{
    margin: 0;
    border-radius: 0.2rem;
   color:red;
   
}