<div class="dashboard-container">
 <div class="header">
 <h1>Medicine Reminders</h1>
    <div class="sort-container">
      <label for="sort">Sort by:</label>
      <select id="sort">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="quarterly">Quarterly</option>
      </select>
    </div>
    <button class="new-pill-btn" (click)="addPill()">+ New Pill</button>
    <button class="rtn-to-dashboard" (click)="goToDashboard()">Return to Dashboard</button>
  </div>

  <div class="cards-container">
    <div class="card" *ngFor="let med of meds">
      <div class="card-content">
        <div>
          <h3>{{ med.pillName }}</h3>
          <p>{{ med.timing }}</p>
        </div>
        <div class="arrow" (click)="goToMedicineInfo(med._id)">➔</div>
      </div>
    </div>
    <div *ngIf="!meds || meds.length === 0" class="no-pills-message">
        <p>No pills added yet. Click "+ New Pill" to get started!</p>
    </div>
  </div>
</div>